body { background-color: gray; }
div.slide { padding: 0; width: 800px; height: 600px; background-color: white; }
div.slide > table { width: 100%; height: 100%;
                    font-family: "URW Bookman L"; font-size: 36px; }
div.slide > table > tbody > tr > td { vertical-align: middle;
                                      text-align: center; }
div.slide table { margin-left: auto; margin-right: auto; }
.literal { font-family: Inconsolata; }
pre.literal-block, pre.doctest-block { text-align: left; font-size: 0.8em; }
